<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBBSV1_dWKn0zcfxDEB-A63_EhOL-nsHt8</string>
	<key>GCM_SENDER_ID</key>
	<string>927101801879</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.elearning</string>
	<key>PROJECT_ID</key>
	<string>microlearning-app-itb</string>
	<key>STORAGE_BUCKET</key>
	<string>microlearning-app-itb.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:927101801879:ios:b5a529cc98ae9f663960d2</string>
</dict>
</plist>